<div class="master">
    <div class="back">
        <button pButton pRipple type="button" label="Home" [routerLink]="['/home']" routerLinkActive="router-link-active" ></button>
    </div>
    <div class="table">
        <div class="filter">
            <p-table class="inner_table" #dt [value]="animes" [globalFilterFields]="['name']">
                <ng-template pTemplate="caption">
                    <div class="caption_template">
                        <div class="header_caption">
                            <h2> Lista aleatoria de animes </h2>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filtro"/>
                            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded" (click)="refreshTable()"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th pSortableColumn="date">
                            <p-sortIcon field="date"></p-sortIcon>
                            Created at
                        </th>
                        <th>Rating</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-anime>
                    <tr>
                        <td>{{anime.id}}</td>
                        <td>{{anime.name}}</td>
                        <td pSortableColumn="date">{{anime.date}}</td>
                        <td>{{anime.rating}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

    </div>
</div>