<div class="master">
    <div class="comp">
        <p>
            Cualquier nombre de usuario valida
            <br>
            Password 'veosat'
        </p>
        <h5>
            Username:
        </h5>
        <input #username pInputText type="text">
        <h5>
            Password:
        </h5>
        <input #password pInputText type="password">
        <div *ngIf="fail" class="fail">
            <p>
                <font color="red">Wrong password. Please retry.</font>
            </p>
        </div>
        <button pButton pRipple type="button" label="Log in"
            (click)="validate(username.value, password.value)"></button>
    </div>
</div>